<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="RoutingWithBikes.Service1" behaviorConfiguration="mexBehavior">
        <endpoint name ="SOAPEndPoint"
        contract ="RoutingWithBikes.IService1"
        binding ="basicHttpBinding"
        address ="/Service1/soap" />

        <endpoint name ="RESTEndPoint"
        contract ="RoutingWithBikes.IService1"
        binding ="webHttpBinding"
        address ="/Service1/rest"
        behaviorConfiguration ="restbehavior"/>

        <endpoint address="/Service1/mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/Lets_go_biking/RoutingWithBikes/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>