<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restbehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="WebProxyService.Service1" behaviorConfiguration="mexBehavior">
        <endpoint name ="RESTEndPoint"
        contract ="WebProxyService.IService1"
        binding ="webHttpBinding"
        address ="/Service1"
        behaviorConfiguration ="restbehavior"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Lets_go_biking/WebProxyService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>