<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAPEndPoint" maxReceivedMessageSize="2147483647"/>
              </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/Design_Time_Addresses/RoutingWithBikes/Service1/soap"
                binding="basicHttpBinding" bindingConfiguration="SOAPEndPoint"
                contract="ServiceReference1.IService1" name="SOAPEndPoint" />
        </client>
    </system.serviceModel>
</configuration>